.nav-bot {
  border-bottom: 1px solid #ffd034;
  margin-bottom: 5px;
}


.navbar {
  --bs-navbar-padding-x: none !important;
}
.navbar-brand {
  color: #ffd034;
}
.active{
  background-color: #ffd034;
  color: black !important;
}
.nav-link {
  margin: 0 20px;
  color: #ffd034;
  --bs-nav-link-padding-y:.8rem;
}
.nav-link:hover{
  background-color:  #ffd034;
  color: black !important;
}
.navbar-brand:hover{
  color: white
}

body {
  color: white;
  background-color: black;
}

ul {
  display: inline-block;
  text-align: left;
}

footer {
  margin: 20px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #ffd034;

}

.footer-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer-icons li a {
  text-decoration: none;
  color: #ffd034;
}

.footer-icons li a i {
  font-size: 24px;
}

#copywrite i {
  font-size: 24px;
  color: #ffd034;
}

.footer-icons li a:hover {
  color: white;
}

#copywrite:after {
  content: " RR 2022";
  color: #ffd034;
}

.footer-icons li:nth-child(2) a:after {
  content: " Email";
}

.footer-icons li:nth-child(3) a:after {
  content: " LinkedIn";
}

.footer-icons li:nth-child(4) a:after {
  content: " GitHub";
}

