body{
    text-align: center;
}
.profile-img{
border-radius: 50%;
height: 250px;
margin-bottom: 30px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


.projects-btn{
    margin: 25px 0;
    padding: 12px 20px;
    border: solid;
    border-color: #ffd034;
    border-radius: 1px;
    color: #ffd034;
    text-decoration: underline;
    /* background-color:hsla(46, 100%, 60%, .5); */
    background-color: transparent;
    
}
.projects-btn:hover{
    color: black;
   background-color: white;
}