html{
    font-family: Goergia;
}
h1{
  color:  #ff3300;
}
em{
  color: #ff3300;
}
h1,h4,h5,ul {
  padding: 0px 125px; /* Extra large screens */
}

@media (min-width: 1200px) {
  h1,h4,h5,ul {
    padding: 0px 250px; /* Extra large screens */
  }

}

@media only screen and (max-width: 600px) {
    h4 {
      font-size: 15px;
   }
   h1,h4,h5,ul {
    padding: 0px 75px; 
  }

 }


