{% extends 'base.html' %}

{%block title%} Projects {%endblock%}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">{% endblock %}


{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <a class="proj-link" href="https://stonksllc.streamlit.app/" target="_blank"><img class="proj-img"
          src="static/images/stonksllcapp.png" alt="Image of web app that predicts stock as undervalued">
        <p class="img-description"> Tech stack: Python, Streamlit, Sklearn, Pandas, Numpy, Plotly, BS4 <br>Click To go
          To App</p>
      </a>
      <p>A web application that uses stock fundamental data to classify stocks as undervalued/overvalued</p>
    </div>
    <div class="col">
      <a class="proj-link" href="https://github.com/rafaelrubenstein/Todolistweb" target="_blank"><img class="proj-img"
          src="static/images/tasklist.png" alt="Image of task list web app">
        <p class="img-description"> Tech stack: HTML, CSS, Javascript, Bootstrap, PHP, SQL <br>Click To go
          To github page</p>
      </a>
      <p>A To Do list web application</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="proj-link" href="https://github.com/rafaelrubenstein/Recyclable" target="_blank"><img class="proj-img"
          src="static/images/recyclable.png" alt="Image of Recyclable android app">
        <p class="img-description"> Tech stack: Java, Firebase, Auto ML Vision, XML<br>Click To go
          To github page</p>
      </a>
      <p>Android App that utilizes AI to identify the composition of items & decides whether or not an item is
        recyclable </p>
    </div>
    <div class="col">
      <a class="proj-link" href="https://github.com/rafaelrubenstein/Recyclable" target="_blank"><img class="proj-img"
          src="static/images/dataprocessor.png" alt="Image of Data Processing Web App">
        <p class="img-description"> Tech stack: Python, Pandas, Numpy, Plotly, Sklearn, Streamlit<br>Click To go
          To github page</p>
      </a>
      <p>Web application that allows user to clean their data - Currently in Progress</p>
    </div>

  </div>
  
</div>

{%endblock%}