{% extends 'base.html' %}
{% set active_page = "resume" %}

{%block title%} Resume {%endblock%}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='resume.css') }}">{% endblock %}


{% block body %}


<Main>

    <section class="summary container">
        <h1>Rafael Rubenstein</h1>
        <h5>Brooklyn, NY </h5>
    </section>
    <hr>
    <section class="education container">
        <h1>Education</h1>
        <h4>B.S, Computer Science | Brooklyn College | Dec 2022</h4>
        <ul>
            <li><em>Honors and Awards:</em>Dean’s List (Summer 2021 and Fall 2021, Spring 2022)</li>
            <li><em>Relevant Coursework:</em> Data Structures, Human Computer Interaction, Java, Statistics, Calculus,
                Linear Algebra, Full Scale Web Applications, Database Systems, Machine Learning </li>
        </ul>
        <h4>M.C.S, Data Science | University Of Illinois Urbana-Champaign | Expected Jun 2024</h4>
        <ul>
            <li><em>Relevant Coursework:</em> Applied Machine Learning, Data Mining, Cloud Computing </li>
        </ul>
    </section>
    <hr>
    <section class="skills container">
        <h1>Skills</h1>
        <ul>
            <li><em>Programming Languages:</em>Python (Scikit-learn, Pandas, MatplotLib, Selenium, BeautifulSoup, Numpy,
                Scipy, Tensorflow) , Java, HTML & CSS, JavaScript, SQL, PHP, Git</li>
            <li><em>Tools/Technologies:</em> GitHub, Firebase, SQLite, Mysql, Postgresql, Streamlit, Flask, Django, AWS
                (DynamoDB, Lambda, RDS, EC2, S3)</li>
        </ul>
    </section>
    <hr>
    <section class="projects container">
        <h1>Projects</h1>
        <h4>Recyclable</h4>
        <ul>
            <li>Led a Team of 3 people to create an app that identifies the composition of items & decides whether or
                not an item is
                recyclable using AutoML </li>
            <li>Designed user login/signup screen using Java & Android Studio</li>
            <li>Implemented backend & email authentication using Google FireBase</li>
            <li>Programmed logic with AndroidManifest file that requested user permission & allowed seamless camera
                access for the app</li>
        </ul>
        <h4>Stonks LLC</h4>
        <ul>
            <li>Led a team of 3 to develop a web application that uses company data to classify stocks as
                undervalued/overvalued</li>
            <li>Utilized Pandas, Matplotlib, Seaborn & Numpy for EDA, data cleaning, & visualization </li>
            <li>Applied feature engineering methods to find the best features for the model increasing precision by 26%
            </li>
            <li>Designed ML pipeline using Scikit-learn to build & evaluate different models increasing productivity by
                75%</li>
            <li>Deployed web application using Streamlit & Pickle allowing users to predict company’s worth</li>
            <li>Scraped financial data using BeautifulSoup & yFinance reducing cognitive overload for user by 90%</li>
        </ul>
    </section>
    <hr>
    <section class="experience container">
        <h1>Experience</h1>

        <h4>Data Science Fellow | CUNY Tech Prep | Jul 2022 - present</h4>
        <ul>
            <li>Selected for a competitive data science fellowship with students from across the 11 CUNY senior colleges
                where Fellows create technical projects using tools such as Python 3, Jupyter Notebooks, Pandas, Numpy,
                Scikit-learn,TensorFlow & SQL
            </li>
            <li>Participate in weekly courses & learn industry best practices for exploratory data analysis (EDA),
                feature engineering, data collection & processing, statistical modeling, data visualization, machine
                learning techniques, data science process, & big data</li>
        </ul>

        <h4>Computer Science Tutor | Volunteer | Aug 2020 - present</h4>
        <ul>
            <li>Educate students on coding, answer questions about the field, & encourage them to stay motivated &
                committed to
                learning</li>
            <li>Tutor all levels of students in Java & Python, introducing them to accessible learning resources, &
                supporting them in their
                pursuit for excellence</li>
        </ul>

        <h4>Data Scientist | Self-Employeed | Jun 2022 - present</h4>
        <ul>
            <li>Utilized Selenium, BeautifulSoup & Bean.AI API to mine data decreasing manual labor required by 85%</li>
            <li>Analyzed & cleaned data using Python & Pandas to allow data to be used for lexical analysis</li>
            <li>Harnessed NLP to perform lexical analysis on data to assist client in making informed decision about the
                demographic of
                potential consumers</li>
        </ul>

    </section>
    <hr>
    <section class="additional-experience container">
        <h1>Additional Experience</h1>

        <h4>Office Manager/Controller | Platinum Renovations 1 LLC | Jun 2019 - Aug 2021 </h4>
        <ul>
            <li>Responsibilities included payroll, AP, AR, Cost analytics, contrast profitability with overhead</li>
            <li>Trained multiple employees in data entry, payroll & cost reports</li>
            <li>Performed in an agile & stressful environment to ensure all deadlines were met</li>
        </ul>
    </section>
    <hr>
    <section class="activities container">
        <h1>Activities</h1>
        <ul>
            <li>Lead Organizer, Fundraising and Budgeting,Cuny Hackathon</li>
            <li>Computer Science Club</li>
        </ul>
    </section>

</Main>

{% endblock %}