{% extends 'base.html' %}
{% set active_page = "resume" %}

{%block title%} Resume {%endblock%}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='resume.css') }}">{% endblock %}


{% block body %}


<Main>
    <section class="summary container">
        <h1>Rafael Rubenstein</h1>
        <h5>Brooklyn, NY </h5>
    </section>
    <section class="skills container">
        <h1>Skills</h1>
        <ul>
            <li><em>Programming Languages:</em>Python (Scikit-learn, Pandas, MatplotLib, Selenium, BeautifulSoup, Numpy,
                Scipy, Tensorflow, Surprise),SQL,Git,C#, HTML & CSS, JavaScript (React,Node,Express) , PHP, Java</li>
            <li><em>Tools/Technologies:</em> Power BI, Sql Server, SQLite, Mysql, Postgresql, GitHub,Streamlit, Vercel,
                Flask, Django, AWS (DynamoDB, Lambda, EC2, S3,Redis,Redshift),Azure Dev Ops, Microsoft & Google Suite
            </li>
        </ul>
    </section>
    <hr>
    <section class="experience container">
        <h1>Experience</h1>

        <h4>Data Analytics & Engineering | Hamaspik Of Kings County | Jul 2023 - present</h4>
        <ul>
            <li>Spearheaded the analysis, cleaning & creation of a comprehensive data infrastructure using SQL Server,
                empowering stakeholders to make informed decisions
            </li>
            <li>Engineered a financial report within my initial two weeks improving the finance department's operations,
                directly contributing to a <em>3%</em> uplift in profitability by rectifying revenue leaks and
                optimizing invoice
                management processes using <em>SQL, Python, & Power BI</em></li>

            <li>
                Orchestrated & deployed sophisticated data pipelines using Python, integrating disparate data sources to
                furnish a cohesive analytical framework.
            </li>
            <li>
                Designed & delivered multifaceted reports utilizing <em>Power BI, Python, & SQL</em>, catering to
                diverse
                departmental needs leading to a <em>32%</em> enhancement in workflow efficiency, providing actionable
                insights &
                fostering data-driven decision-making
            </li>
        </ul>

        <h4>Financial Data Scientist | Gemini Global Ventures | Aug 2021 - Gemini Global Ventures</h4>
        <ul>
            <li>Analyzed large datasets using machine learning techniques for predictive analysis, classification &
                pattern recognition</li>
            <li>Utilized statistical analysis, feature engineering, & data mining methods to extract valuable insights &
                drive decision-making</li>
            <li>
                Create visually engaging & informative reports, presenting insights to stakeholders & guiding business
                strategy
            </li>
            <li>
                Process data from <em>Postgresql</em> using <em>SQL</em>, streamlining the data acquisition process for
                analysis & reporting purposes
            </li>
        </ul>

        <h4>Office Manager/Controller | Platinum Renovations 1 LLC | Jun 2019 - Aug 2021 </h4>
        <ul>
            <li>Responsibilities included payroll, AP, AR, cost analytics, contrast profitability with overhead, in an
                agile & stressful
                environment to ensure all deadlines were met</li>
            <li>Trained multiple employees in data entry, payroll & cost reports</li>
        </ul>

    </section>
    <hr>
    <section class="additional-experience container">
        <h1>Additional Experience</h1>
        <h4>Data Science Fellow | CUNY Tech Prep | Jul 2022 - present</h4>
        <ul>
            <li>Selected for a competitive data science fellowship with students from across the 11 CUNY senior colleges
                where Fellows create technical projects using tools such as Python 3, Jupyter Notebooks, Pandas, Numpy,
                Scikit-learn,TensorFlow & SQL
            </li>
            <li>Participate in weekly courses & learn industry best practices for exploratory data analysis (EDA),
                feature engineering, data collection & processing, statistical modeling, data visualization, machine
                learning techniques, data science process, & big data</li>
        </ul>


    </section>
    <hr>
    <section class="projects container">
        <h1>Projects</h1>
        <h4>MovieFinder,(In Progress)</h4>
        <ul>
            <li>Developing a web application that recommends movies to users based on multiple features, & then tells
                the users where they can watch the movies</li>
            <li>Leveraging <em>Pandas & Numpy</em> for efficient data cleaning & preprocessing to prepare for model
                training</li>
            <li>Utilizing a hybrid machine learning approach with Matrix Factorization via <em>SciPy, SVD++</em> for
                collaborative filtering & XGBoost
                for feature-based recommendations</li>
            <li>Building the application with <em>React, Node.js,Express.js, & PostgreSQL</em> for storing user data & movie
                information.</li>
        </ul>
        <h4>Stonks LLC</h4>
        <ul>
            <li>Led a team of 3 to develop a web application that uses company data to classify stocks as
                undervalued/overvalued</li>
            <li>Utilized Pandas, Matplotlib, Seaborn & Numpy for EDA, data cleaning, & visualization </li>
            <li>Applied feature engineering methods to find the best features for the model increasing precision by 26%
            </li>
            <li>Designed ML pipeline using Scikit-learn to build & evaluate different models increasing productivity by
                75%</li>
            <li>Deployed web application using Streamlit & Pickle allowing users to predict company’s worth</li>
            <li>Scraped financial data using BeautifulSoup & yFinance reducing cognitive overload for user by 90%</li>
        </ul>
    </section>
    <hr>
    <section class="education container">
        <h1>Education</h1>
        <h4>B.S, Computer Science | Brooklyn College </h4>
        <h4>M.C.S, Data Science | University Of Illinois Urbana-Champaign </h4>
    </section>

</Main>

{% endblock %}